<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">

</head>

<body>
<%- include header.ejs  %>


<div class="container">
    <div class="starter-template">
        <h1>Question System</h1>
        <p class="lead">질문을 편하게 합시다.<br> 1년간 수고많으셨습니다. <br>여러분 이제 좀 쉬세요. <br>(자구알 끝나면ㅋㅋㅋㅋㅋㅋ)</p>

        <div id="list_container">

            <% data.forEach(function (item,index) { %>

            <div class="list-group" type="circle" data-value = "<%= item.idCircle %>">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading"><%= item.Name %> </h4>
                    <p class="list-group-item-text"><%= item.description %></p>
                </div>
            </div>
            <% }); %>
         </div>

    </div>

</div><!-- /.container -->

<%- include footer.ejs  %>

</body>
</html>
