<% data.forEach(function (item,index) { %>

<div class="list-group" type="question" data-value = <%= item.idQuestion %>>
    <div class="list-group-item">
        <h4 class="list-group-item-heading"><%= item.Title %> </h4>
        <p class="list-group-item-text"><%= item.Content %></p>
        <p class="list-group-item-text">Due Date <%= item.DueDate %></p>
        <p class="list-group-item-text"> 질문자 <%= item.name %></p>
    </div>

</div>
<% }); %>

